# IntelliJ / Android Studio
*.iml
.idea/
!.idea/codeStyles
!.idea/runConfigurations

# Local configuration
local.properties

# Gradle
.gradle/
build/
**/build/

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db

# NDK / CMake
.cxx/
.externalNativeBuild/

# Profiling
captures/

# Generated
.gen/

# Release files
*.apk
*.aab
*.ap_
