# IntelliJ / Android Studio
*.iml
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# Local configuration
local.properties

# OS
.DS_Store
Thumbs.db

# NDK / CMake
.cxx/
.externalNativeBuild/

# Profiling
captures/

# Generated
.gen/
